<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.AssetMapper" >

    <select id="getAssetBySn" resultType="org.javaboy.vhr.model.Asset">
        select * from asset where sn = #{sn}
    </select>
    <select id="getAssetById" resultType="org.javaboy.vhr.model.Asset">
        select * from asset where id = #{id}
    </select>
    <update id="updateAssetBySn">
        update asset set is_delete=1  where sn in
        <foreach collection="list" item="item" separator="," open="(" close=")">
                                              #{item.sn}
                                          </foreach>
    </update>

</mapper>